:root {
    --white-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.border-top {
    border-top: 5px solid #d0d0d0;
    padding: 20px 0 10px 0;
}

.just-center {
    display: flex;
    justify-content: center;
}

.mt-20 {
    margin-top: 20px;
}