* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,body {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top right, #fccf9b, #d57fe9);
}

.flex-center {
    display: flex;
    justify-content: center;
}

.login__box {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 28px 0px 38px 0px;
}

.login__heading {
    font-size: 36px;
    color: #545454;
    font-weight: 400;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 26px;
}

.login__form-group {
    display: flex;
    flex-direction: column;
}

.login__label {
    font-size: 16px;
    margin-bottom: 4px;
}

.login__input {
    font-size: 16px;
    padding: 6px 20px 6px 12px;
    margin-bottom: 12px;
    border: none;
    outline: none;
    background-color: #f7f7f7;
    border-radius: 8px;
    width: 360px;
}

.login__btn {
    font-size: 16px;
    height: 36px;
    color: white;
    background-color: #333333;
    margin: 26px 0 16px 0px;
    border-radius: 8px;
}

.login__register {
    font-size: 16px;
}

.login__register a {
    color: #b9b9b9;
}

.login__register a:hover {
    color: #e90efc;
}
