.app {
    background-color: #d9d9d9;
    padding: 20px 0 20px 0;
    transition: all 0.3s linear;
}

.form__header {
    display: flex;
    flex-direction: column;
    height: 150px;
    text-align: center;
    justify-content: center;
    background-color: #323a45;
    color: var(--white-color);
}

.form__header-time {
    font-size: 18px;
    font-weight: bold;
}

.form__header-icon {
    font-size: 24px;
    margin-right: 8px;
}

.form__header-spc {
    font-size: 28px;
}

.form__header-desc {
    font-size: 18px;
}

.form__body {
    background-color: var(--white-color);
    padding: 0 0 20px 0;
}

.form__body-all-question {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 10px 0;
    position: relative;
}

.form__body-all-question a {
    text-decoration: none;
    color: rgb(153, 153, 153);
}

.form__body-question {
    width: 46px;
    height: 46px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    box-shadow: 1px 1px 1px 1px #c2c2c2;
}

.form__body-question.form__body-question--active {
    background-color: #244d9e;
    color: white !important;
    box-shadow: none;
}

.form__body-left {
    border-right: 1px solid #cfcfcd;
}

.form__body-heading {
    margin-top: 12px;
    font-size: 22px;
}

.form__body-point {
    font-size: 16px;
}

.form__body-bot {
    margin-top: 30px;
}

.form__body-desc {
    font-size: 18px;
    color: #696768;
}

.form__body-option {
    display: flex;
    padding: 10px 12px;
    background-color: #d9d9d9;
    margin: 6px 12px;
    position: relative;
}

.form__body-option::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background-color: #adadad;
    top: 0;
    left: 8%;
}

.form__body-input {
    width: 20px;
    margin-right: 20px;
    background-color: #7f7d7e;
    position: relative;
}

.form__body-option-text {
    font-size: 18px;
    margin: 0;
    color: #5e5d5b;
    font-weight: 500;
    width: 100%;
    height: 100%;
}

.finish_btn {
    font-size: 18px;
    padding: 8px 16px;
}