:root {
    --black-color: #000;
    --white-color: #fff;
    --primary-color: #ff631a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

.h-full {
    height: 100%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}