.left__col {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -7.5px;
}

.video {
    width: 85%;
    
}

.left__lesson-name {
    margin: 38px 0 8px 0;
    font-size: 28px;
    font-weight: bold;
}

.left__lesson-description {
    margin: 30px 0 50px 0;
    font-size: 20px;
    color: #292929;
}

.right__col {
    padding: 12px 12px 0 12px;
}

.right__lesson-title {
    font-size: 1.8rem;
    line-height: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.right__lesson-item {
    padding: 14px 30px 14px 16px;
    background-color: #f5f5f5;
    margin-bottom: 16px;
    border-radius: 10px;
}

.right__lesson-item:hover .right__lesson-link {
    color: #f05123;
}

.right__lesson-link {
    font-size: 18px;
    width: 100%;
    font-weight: 600;
    text-decoration: none;
    color: var(--black-color);
}

.footer__learn {
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

.footer__left-btn,
.footer__right-btn {
    padding: 8px 12px;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 8px;
}

.footer__right-btn {
    border: 2px solid #f05123;
}

.footer__btn-link {
    color: #404040;
    text-decoration: none;
}

.footer__right-btn .footer__btn-link {
    color: #f05123;
}